// Primary Colors
$color-primary-1: #4caf50;
$color-danger: #f44336;
$color-warning: #ff9800;
$color-warning-light: #ffeb3b;

// Secondary Colors
$color-secondary-1: #2c3951;
$color-secondary-2: #2f80ed;
$color-secondary-3: #007eff;
$color-secondary-4: #2d9cdb;

// Light Colors
$color-light-1: #f9f8fc;
$color-light-2: #e5e5e5;
$color-light-3: #dbdde0;

// Dark Colors
$color-dark-1: #bdbdbd;
$color-dark-2: #a0a4a8;
$color-dark-3: #828282;
$color-dark-4: #52575c;

//Shadow
$shadow-1: 0px 0px 8px rgba(37, 40, 43, 0.12);

// Background hover
$dropdown-hover-item: rgba($color-secondary-3, .04);

//Font sizes
$font-size-sm: 12px;
$font-size-re: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;

// Font Names
$font-primary: "Roboto";
$font-secondary: "Montserrat";

//==================================//
// Don't miss with those variabeles //
//==================================//

// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Black & White
$color-black: #000000;
$color-white: #ffffff;

//Font Path
$font-primary-light-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Light.ttf";
$font-primary-light-italic-path: "../fonts/" + $font-primary + "/" + $font-primary + "-LightItalic.ttf";
$font-primary-regular-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Regular.ttf";
$font-primary-regular-italic-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Italic.ttf";
$font-primary-medium-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Medium.ttf";
$font-primary-semibold-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Semibold.ttf";
$font-primary-bold-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Bold.ttf";

$font-secondary-light-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Light.ttf";
$font-secondary-regular-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Regular.ttf";
$font-secondary-medium-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Medium.ttf";
$font-secondary-semibold-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Semibold.ttf";
$font-secondary-bold-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Bold.ttf";

//Font Family
$font-primary-light: $font-primary + " Light";
$font-primary-light-italic: $font-primary + " Light Italic";
$font-primary-regular: $font-primary + " Regular";
$font-primary-regular-italic: $font-primary + " Regular Italic";
$font-primary-medium: $font-primary + " Medium";
$font-primary-semibold: $font-primary + " SemiBold";
$font-primary-bold: $font-primary + " Bold";

$font-secondary-light: $font-secondary + " Light";
$font-secondary-regular: $font-secondary + " Regular";
$font-secondary-medium: $font-secondary + " Medium";
$font-secondary-semibold: $font-secondary + " SemiBold";
$font-secondary-bold: $font-secondary + " Bold";
