.miltiselect {
	position: absolute;
	top: 113%;
	right: 0;
	z-index: 9;
	width: 100%;
	box-shadow: $shadow-1;
	background-color: $color-white;
	overflow: visible;
	border-radius: 4px;
	padding: 0;
	display: none;

	&.show {
		display: inline-block;
	}
	option {
		cursor: pointer;
		padding: 10px;
		display: block;
		color: $color-secondary-1;
		padding-left: 25px;
		&:hover {
			background-color: rgba($color-secondary-3, 0.04);
			color: $color-secondary-3;
			svg {
				path {
					stroke: $color-secondary-3;
				}
			}
		}
		&[data-divider="true"] {
			font-size: $font-size-sm;
			color: $color-dark-3;
			// padding-bottom: 0;
			padding-left: 10px;

			&:hover {
				background-color: white;
				color: $color-dark-3;
				cursor: default;
			}
		}
	}
}
