/*=== Import Fonts ===*/
@include font-face($font-primary-light, $font-primary-light-path);
@include font-face($font-primary-regular, $font-primary-regular-path);
@include font-face($font-primary-medium, $font-primary-medium-path);
@include font-face($font-primary-semibold, $font-primary-semibold-path);
@include font-face($font-primary-bold, $font-primary-bold-path);

@include font-face($font-secondary-light, $font-secondary-light-path);
@include font-face($font-secondary-regular, $font-secondary-regular-path);
@include font-face($font-secondary-medium, $font-secondary-medium-path);
@include font-face($font-secondary-semibold, $font-secondary-semibold-path);
@include font-face($font-secondary-bold, $font-secondary-bold-path);

/*=== Typography Styling ===*/
body {
	color: $color-secondary-1;
	font-size: $font-size-re;
	font-family: $font-primary-regular, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: normal;
	line-height: normal;
}

h1 {
	@include font-source-sans($font-primary-regular, $font-size-md, $color-black, normal, normal);
}

h2 {
	@include font-source-sans($font-primary-bold, $font-size-md, $color-secondary-1, bold, normal);
}

h3 {
	@include font-source-sans($font-primary-medium, $font-size-md, $color-dark-4, 500, 1.13);
}

h4 {
	@include font-source-sans($font-primary-regular, $font-size-md, $color-dark-4, normal, normal);
}

h5 {
	@include font-source-sans($font-primary-bold, $font-size-re, $color-dark-4, bold, normal);
}

h6 {
	@include font-source-sans($font-primary-regular, $font-size-sm, $color-dark-4, normal, normal);
}

button {
	@include font-source-sans($font-primary-regular, $font-size-md, $color-white, normal, normal);
}

a {
	@include font-source-sans($font-secondary-medium, $font-size-re, $color-secondary-1, normal, 1.29);
}

p {
	@include font-source-sans($font-primary-regular, $font-size-re, $color-secondary-1, bold, normal);
	&.italic {
		font-family: $font-primary-regular-italic;
		font-style: italic;
		line-height: 1.29;
		letter-spacing: 0.1px;
		&.light {
			font-family: $font-primary-light-italic;
			font-weight: 300;
		}
	}
	&.small {
		font-size: $font-size-sm;
		&.italic {
			font-family: $font-primary-regular-italic;
			font-style: italic;
		}
	}
}

a {
	&.dropdown-item {
		@include font-source-sans($font-secondary-regular, $font-size-re, $color-dark-3, normal, 1.29);
	}
	&.bold {
		@include font-source-sans($font-secondary-medium, $font-size-re, $color-secondary-3, 500, 1.29);
	}
}

@include for-size(phone-only) {
	h1 {
		font-size: $font-size-re;
	}
	h2 {
		font-size: $font-size-re;
	}
	h3 {
		font-size: $font-size-re;
	}
	h4 {
		font-size: $font-size-re;
	}
	h5 {
		font-size: $font-size-sm;
	}
	h6 {
		font-size: $font-size-sm;
	}
	p {
		font-size: $font-size-sm;
	}
}
